@font-face{
    font-family: 'Asap-Regular';
    src:url(./assets/fonts/Asap-Regular.otf)
}
@font-face{
    font-family: 'LucidaSans-Italic';
    src:url(./assets/fonts/LucidaSans-Italic.TTF)
}
@font-face{
    font-family: 'MyriadPro-Regular';
    src:url(./assets/fonts/MyriadPro-Regular.ttf)
}
@font-face{
    font-family: 'OpenSans';
    src:url(./assets/fonts/OpenSans.ttf)
}
@font-face{
    font-family: 'PTSans-NarrowBold';
    src:url(./assets/fonts/PTSans-NarrowBold.ttf)
}
@font-face{
    font-family: 'PTSans-Regular';
    src:url(./assets/fonts/PTSans-Regular.ttf)
}
@font-face{
    font-family: 'SegoeUI';
    src:url(./assets/fonts/SegoeUI.ttf)
}
@font-face{
    font-family: 'SegoeUI-Bold';
    src:url(./assets/fonts/SegoeUI-Bold.ttf)
}
@font-face{
    font-family: 'SegoeWP';
    src:url(./assets/fonts/SegoeWP.ttf)
}
@font-face{
    font-family: 'SegoeWP-light';
    src:url(./assets/fonts/SegoeWP-light.ttf)
}


/* MORE PAGE PART */
.wrapper-more {
max-width: 1440px;
max-height: 700px;
margin: 0 auto;
}
.home-button, .profile-button, .search-button, .more-button{
    width: 373px;
    height: 63px;
    border: none;
}
.buttons img{
    width: 25px;
    height: 25px;
    border: none;
}
.buttons h3{
    display: inline;
}
.buttons button{
    display: block;
}
.tweet{
    width: 373px;
    height: 63px;
    border: none;
    border-radius: 100px;
    background-color: rgba(171, 197, 236, 1);
}
.settings button{
    width: 416px;
    height: 64px;
    border: none;
    border-radius: 70px;
}
.logo {
    /* Logo */


position: sticky;
left: 70px;
width: 145px;
height: 30px;
margin-top: 5px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;
text-align: center;

color: #000000;

}


.help-button{
    /* Rectangle 25 */
/* position: absolute; */
width: 416px;
height: 64px;

background: rgba(196, 196, 196, 0.3);
border-radius: 40px;
}
.home-button {
    /* Rectangle 18 */


/* position: absolute; */
left: 70px;
top: 100px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile-button{
    /* Rectangle 19 */
/* position: absolute; */
width: 373px;
height: 63px;
left: 70px;
top: 176px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-button{
    /* Rectangle 20 */


/* position: absolute; */
width: 373px;
height: 63px;
left: 70px;
top: 252px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.more-button{
    /* Rectangle 21 */
/* position: absolute; */
width: 373px;
height: 63px;
left: 70px;
top: 327px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tweet{
    /* Rectangle 11 */


/* position: absolute; */
width: 373px;
height: 62px;
left: 70px;
top: 430px;

background: #ABC5EC;
border-radius: 100px;
}
.mouse
{
    /* Rectangle 17 */


/* position: absolute; */
width: 993px;
height: 717px;
left: 0px;
top: 361px;
filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
display: none;

}
li{
    list-style-type: none;
    margin-top: 12px;
}
.tweet{
    margin-top: 40px;
}
.Nav-menu{
    margin-top: 25px;
}
.more-block{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    width: 993px;
    height: 73px;
}
.more-text h2{
    font-family: 'Montserrat-SemiBold';
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    width: 106px;
    height: 43px;
    top: 15px;
    margin-left: 30px;
    margin-top: 14px;
    padding: 10px;
}
.slider-contener{
    position: relative;
    top: -430px;
    left: 437px;
}
.settings{
    margin-left: 289px;
}